<nav class="bg-gray-800 p-4" data-testid="navbar">
  <div class="container mx-auto flex justify-between items-center">
    <LinkTo @route="index" class="text-white cursor-pointer" data-testid="index">
      <img src="assets/images/logo.svg" alt="Logo" class="h-8" />
    </LinkTo>
    <div>
      <LinkTo @route="contact" class="text-white cursor-pointer" data-testid="contact">
        Contact
      </LinkTo>
    </div>
  </div>
</nav>