<div class="flex items-center justify-center mt-10">
  <h1
    class="whitespace-nowrap border rounded-lg p-2 w-[25%] text-center
      {{if (eq @turn 0) 'bg-red-700' 'bg-blue-700'}}"
  >
    {{this.info}}
  </h1>
</div>