<div class="flex items-center justify-center gap-2 py-2 px-3">
  <IconifyIcon
    @icon={{if (eq @turn 0) "ri:close-large-line" "ri:circle-line"}}
    width="48"
    height="48"
    color={{if (eq @turn 0) "#ef4444" "#3b82f6"}}
  />
  <span
    class="block py-2 px-3 text-xl text-white rounded md:bg-transparent md:p-0 whitespace-nowrap"
  >
    Has Turn
  </span>
</div>