<div class="flex items-center justify-center">
  <div
    class="w-full max-w-sm p-4 border border-gray-700 rounded-lg shadow sm:p-6 bg-transparent mt-24"
  >
    <h5
      class="mb-3 text-base font-semibold md:text-xl text-white text-center"
    >
      Connect with me
    </h5>
    <ul class="my-4 space-y-3">
      <li>
        <a
          href="https://www.github.com/sinantalhakosar"
          target="_blank"
          class="flex items-center p-3 text-base font-bold rounded-lg group hover:shadow bg-gray-800 hover:bg-gray-700 text-white"
        >
          <IconifyIcon
            @icon="ri:github-fill"
            width="42"
            height="42"
            color="white"
          />
          <span class="flex-1 ms-3 whitespace-nowrap">Github</span>
        </a>
      </li>
      <li>
        <a
          href="mailto:sinantalhakosar@gmail.com"
          class="flex items-center p-3 text-base font-bold rounded-lg group hover:shadow bg-gray-800 hover:bg-gray-700 text-white"
        >
          <IconifyIcon
            @icon="ic:round-email"
            width="42"
            height="42"
            color="white"
          />
          <span class="flex-1 ms-3 whitespace-nowrap">Email</span>
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/sinantalhakosar/"
          target="_blank"
          class="flex items-center p-3 text-base font-bold rounded-lg group hover:shadow bg-gray-800 hover:bg-gray-700 text-white"
        >
          <IconifyIcon
            @icon="bi:linkedin"
            width="42"
            height="42"
            color="white"
          />
          <span class="flex-1 ms-3 whitespace-nowrap">LinkedIn</span>
        </a>
      </li>
    </ul>
  </div>
</div>