<section class="container mx-auto mt-8 flex-grow">
  <div class="max-w-lg mx-auto p-8 bg-gray-800 rounded-lg shadow-md">
    <h1 class="text-3xl font-bold mb-4">Get in touch</h1>
    <div class="mb-4">
      <p class="text-gray-300">If you have any questions, please feel free to
        drop me a line. I'll get back to you as soon as I can.</p>
    </div>
  </div>
</section>

<section class="container mx-auto mt-8">
  <h2 class="text-2xl font-bold mb-4">Contact links</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8">

    <div class="bg-gray-800 text-white shadow-md p-6 rounded-lg">
      <h3 class="text-xl font-bold mb-2">Email</h3>
      <a
        href="mailto:sinantalhakosar@gmail.com"
        class="text-blue-500 hover:underline"
      >sinantalhakosar@gmail.com</a>
    </div>

    <div class="bg-gray-800 text-white shadow-md p-6 rounded-lg">
      <h3 class="text-xl font-bold mb-2">Github</h3>
      <a
        href="https://github.com/sinantalhakosar"
        target="_blank"
        rel="noopener noreferrer"
        class="text-blue-500 hover:underline"
      >github.com/sinantalhakosar</a>
    </div>

    <div class="bg-gray-800 text-white shadow-md p-6 rounded-lg">
      <h3 class="text-xl font-bold mb-2">LinkedIn</h3>
      <a
        href="https://www.linkedin.com/in/sinantalhakosar/"
        target="_blank"
        rel="noopener noreferrer"
        class="text-blue-500 hover:underline"
      >linkedin.com/in/sinantalhakosar</a>
    </div>
  </div>
</section>